.button{
    margin-top: 5px;
}
.titolo{
    display: flex;
    justify-content: space-around;
    
}
.bi-controller{
    color:blue;
}

.bi-emoji-smile{
    color: orangered;
}

.box{
    display: flex;
    margin-top: 5px;
}

input{
    border: none;
}

#continua{
    display: none;
    margin-top: 5px;
}